# api project
api/logs
api/*.log
api/ids
api/*.pid
api/*.seed
api/lib-cov
api/coverage
api/.grunt
api/.lock-wscript
api/build/Release
api/node_modules
api/npm-debug.log
api/todo.txt
api/wrk_conf.lua

# web project
web/bower_components
web/node_modules
web/npm-debug.log
